.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;

  form{
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgb(0 0 0 / 30%);

    .mb-0{
      margin-bottom: 0;
    }

    .error-message{
      color: red;
    }
  }
}





.sign_in_google{
  margin: 25px 0;
  justify-content: center;
  >div{
    text-align: center;
  }
}

.login-form{
  max-width: 360px;
  h1{
    text-align: center;
  }
}