.ant-layout{
  header.header{
    background-color: #fff;
    padding: 0 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
  }
}

header {
  .header-section{
    display: flex;
    align-items: center;
    .logo{
      display: flex;
      align-items: center;
    }
    &.center{
      max-width: 500px;
      width: 100%;
    }
  }
}